.logo{
   width:80%;
   height:70%;
   padding-top: 20%;
}
.text{
    padding-top: 20%;
    padding-left: 5%;
}
.h1{
    font-weight: bold;
    color: rgb(50,50,92);
}
.large{
    font-size: 1rem;
    line-height: 2rem;
}
.btn{
    background-color: rgb(252,124,86);
    color:white;
    margin-left: 10%;
}
.card{
    overflow:hidden
}
.hm.card img{
    border-radius:50%;
}
.card h1{
    text-align: center;
}
.card h2{
    text-align: center;
}
