.about{
    padding-top: 9%;
    padding-left: 8%;
}
.mega{
    font-size: 1rem;
    line-height: 2.2rem;
    
    
}
.abt{
    padding-left: 9%;
    padding-top: 10%;
    background-color: white;
}
.pc{
    padding-top: 5%;
    padding-left: 5%;
}
.about{
    background-color: whitesmoke;
}